<footer>
  <div id="fwrap">
    <div class="grd-row" id="fgrdrow">
      <div class="grd-row-col-2-6--lg" id="fcontact">
        <h4>Contact us</h4>
        <ul>
          <li><a href="https://twitter.com/aedsrv">@aedsrv</a>; <a href="mailto:aedi@gmail.com">aedi@gmail.com</a></li>
          <li>Help improve us on GitHub</li>
          <li>Contact the staff via roster</li>
        </ul>
      </div>
      
      <div class="grd-row-col-2-6--lg" id="finfo">
        <h4>Information</h4>
        <ul class="usa-unstyled-list">
          <li>Server documentation</li>
          <li>About us and branding</li>
          <li>Developer directory</li>
        </ul>
      </div>
         
      <div class="grd-row-col-2-6--lg" id="fresc">
        <h4>Resources</h4>
        <ul class="usa-unstyled-list">
          <li>Discord guild, invite</li>         
          <li>In-game dynamic map</li>
          <li>Staffmember panel</li>
        </ul>
      </div>
    </div>
    
    <h1 class="h2" id="flogo"><mark id="logobul">🞄</mark>A<mark id="logobul">🞄</mark></h1>
    <p id="fcopy">Copyright MMXIX (2019) Aedificium
    <br>
    Terms of service | Privacy policy</p>
  </div>
</footer>
